/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("http://fonts.googleapis.com/css?family=Droid Sans");
@import url("http://fonts.googleapis.com/css?family=Droid Sans");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

body header .sticky {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #283593;
  padding: 14px 1px;
  text-align: center;
  font-size: 18px; }

body header .sticky, body header .sticky .navbar ul, body section .circles, body section .circles .circle1 .cirlce2 .circle3 {
  display: flex; }

body section .closure-h5, body section .closure-p {
  background-color: #F2F3F4;
  max-width: fit-content; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

body header .sticky {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #283593;
  padding: 14px 1px;
  text-align: center;
  font-size: 18px; }

body header .sticky, body header .sticky .navbar ul, body section .circles, body section .circles .circle1 .cirlce2 .circle3 {
  display: flex; }

body section .closure-h5, body section .closure-p {
  background-color: #F2F3F4;
  max-width: fit-content; }

body { }
  body header {
    width: 100%; }
    body header .sticky {
      justify-content: flex-start;
      align-items: center;
      z-index: 20; }
      body header .sticky img {
        height: 50px; }
      body header .sticky .navbar ul {
        justify-content: space-between;
        align-items: center; }
      body header .sticky .navbar li {
        margin-right: 20px; }
        body header .sticky .navbar li :last-child {
          margin-right: 0; }
        body header .sticky .navbar li a {
          color: #fff; }
    body header .burger .blue-logo img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 50px;
      width: 30%; }
    body header .bsolute-burger {
      top: 0;
      left: 50px; }
    @media screen and (max-width: 500px) {
      body header .sticky {
        display: none; } }
    @media screen and (min-width: 500px) {
      body header .burger {
        display: none; } }

body section .closure-h5 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #154360; }

body section .closure-p {
  background-color: grey;
  font-size: 18px;
  color: #154360; }

body section {
  margin-top: 50px; }
  body section .circles {
    justify-content: space-around;
    align-items: center; }
    body section .circles .circle1 .cirlce2 .circle3 {
      justify-content: center;
      align-items: center;
      margin-left: 20px; }
    body section .circles img {
      width: 50%;
      margin-left: 50px; }
    body section .circles .circle-h6 {
      font-size: 26px;
      max-width: 80%;
      text-align: center; }
    body section .circles .circle-p {
      font-size: 18px;
      max-width: 80%;
      text-align: center; }

body header .sticky {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #283593;
  padding: 14px 1px;
  text-align: center;
  font-size: 18px; }

body header .sticky, body header .sticky .navbar ul, body section .circles, body section .circles .circle1 .cirlce2 .circle3 {
  display: flex; }

body section .closure-h5, body section .closure-p {
  background-color: #F2F3F4;
  max-width: fit-content; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

body header .sticky {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #283593;
  padding: 14px 1px;
  text-align: center;
  font-size: 18px; }

body header .sticky, body header .sticky .navbar ul, body section .circles, body section .circles .circle1 .cirlce2 .circle3 {
  display: flex; }

body section .closure-h5, body section .closure-p {
  background-color: #F2F3F4;
  max-width: fit-content; }

body { }
  body header {
    width: 100%; }
    body header .sticky {
      justify-content: flex-start;
      align-items: center;
      z-index: 20; }
      body header .sticky img {
        height: 50px; }
      body header .sticky .navbar ul {
        justify-content: space-between;
        align-items: center; }
      body header .sticky .navbar li {
        margin-right: 20px; }
        body header .sticky .navbar li :last-child {
          margin-right: 0; }
        body header .sticky .navbar li a {
          color: #fff; }
    body header .burger .blue-logo img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 50px;
      width: 30%; }
    body header .bsolute-burger {
      top: 0;
      left: 50px; }
    @media screen and (max-width: 500px) {
      body header .sticky {
        display: none; } }
    @media screen and (min-width: 500px) {
      body header .burger {
        display: none; } }
