@import "../basic/reset.scss";
@import "../modules/mixins.scss";
@import "../modules/veriables.scss";
@import "../modules/classes.scss";


body {
    font-family: "Raleway" !important;

    section {
        .contact-box {
            .contact-info {

                max-width: 100%;

                h5 {
                    font-size: $font-sizebigger;
                    font-weight: 600;
                }

                p {
                    font-size: $font-sizemedium;
                    font-weight: 500;
                }
            }

            .google-map {
                margin-top: $margin-top50;
                max-width: 100%;
            }

        }


    }
}