@import "../basic/reset.scss";
@import "../modules/mixins.scss";
@import "../modules/veriables.scss";
@import "./pages.scss";
@import "../modules/classes.scss";
@import "../basic/header.scss";

body {
    .section-slider {
        .closure-h5 {
            @extend %background-slide;
            font-size: $font-size-biggest;
            margin-bottom: $margin-bottom20;
            color: #fff;
        }

        .closure-p {
            @extend %background-slide;
            font-size: $font-size-medium;
            color: #fff;
        }

    }

    .container-margin {
        margin-top: $margin-top50;

        .circles {
            @extend %flex;
            flex-wrap: wrap;
            @include d-flex (space-around, center);

            .circle-top {
                @extend %flex;
                flex-flow: column;
                @include d-flex (center, center);
                margin-bottom: $margin-bottom50;

                &:first-child {
                    margin-left: 0;
                }

                .rounded-img {
                    width: 180px;
                    border-radius: 50%;
                }

                .circle-h6 {
                    font-size: $font-size-bigger;
                    text-align: center;
                    font-size: $font-size-mediumbig;
                    font-weight: 400;
                    color: #4A4A5E;
                    margin-top: $margin-top20;
                    margin-bottom: $margin-bottom20;
                }

                .circle-p {
                    font-size: $font-size-medium;
                    text-align: center;
                    font-size: $font-size-medium;
                    font-weight: 400;
                    color: #4A4A5E;
                }
            }
            &:after {
                display: block;
                content: "";
                height: 3px;
                width: 80%;
                background: #283593;
                opacity: 0.5;
            }
        }
    }

    .news-container {
        .news {
            margin-top: $margin-top50;

            .box1 {
                @extend %flex;
                @include d-flex (space-between, center);
                margin-bottom: $margin-bottom50;
                @extend %news-box-background;

                .h6-p {

                    h6 {
                        font-size: $font-size-biggest;
                        font-weight: 600;
                        color: #4A4A5E;
                        margin-bottom: $margin-bottom20;
                    }

                    p {
                        font-size: $font-size-mediumbig;
                        font-weight: 500;
                        color: #4A4A5E;
                        text-align: justify;
                        line-height: 1.5;
                    }
                }
            }
            .box2 {
                @extend %flex;
                @include d-flex (space-between, center);
                margin-bottom: $margin-bottom50;
                @extend %news-box-background;

                .h6-p {

                    h6 {
                        font-size: $font-size-biggest;
                        font-weight: 600;
                        color: #4A4A5E;
                        margin-bottom: $margin-bottom20;
                    }

                    p {
                        font-size: $font-size-mediumbig;
                        font-weight: 500;
                        color: #4A4A5E;
                        text-align: justify;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 600px) {
    .circles {
        flex-flow: column;
        // margin-top: $margin-top100;
    }
}

@media screen and (min-width: 600px) {
    .circle-top {
        max-width: 30%;
        // margin-left:$margin-left0;
    }
}

@media screen and (max-width: 600px) {
    .circle-top {
        max-width: 100%;
        margin-left: $margin-left0;
    }
}

@media screen and (min-width: 600px) {
    .circle-top {
        margin-left: $margin-left30;

    }
}

@media screen and (max-width: 600px) {
    .rounded-img {
        margin-top: $margin-top20;
    }
}

@media screen and (max-width: 600px) {
    .section-slider {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .small-cover {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .box1 {
        h6 {
            width: 55%;
        }

        img {
            width: 40%;
            margin-left: $margin-left40;
        }
    }
}

@media screen and (max-width: 600px) {
    .box1 {
        flex-direction: column;

        h6 {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}

@media screen and (min-width: 600px) {
    .box2 {
        flex-direction: row-reverse;

        h6 {
            width: 55%;
        }

        img {
            width: 40%;
            margin-right: $margin-right40;
        }
    }
}

@media screen and (max-width: 600px) {
    .box2 {
        flex-direction: column;

        h6 {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}