@import "../basic/reset.scss";
@import "../modules/mixins.scss";
@import "../modules/veriables.scss";
@import "./pages.scss";
@import "../modules/classes.scss";
@import "../basic/header.scss";

body{
    section{
        .closure-h5{
            @extend %background-opacity;
            font-size: $font-size-biggest;
            margin-bottom: $margin-bottom20;
            color: #154360;
        }
        .closure-p{
            background-color: grey;
            font-size: $font-size-medium;
        }
        
    }
    section{
        margin-top: $margin-top100;
        .circles{
            @extend %flex;
            @include d-flex (space-around,center);
            img{
                width: 35%;
            }
        }
    }
}