@import "../basic/reset.scss";
@import "../modules/mixins.scss";
@import "../modules/veriables.scss";
@import "../basic/fonts.scss";
@import "./pages.scss";
@import "../modules/classes.scss";

body{
    font-family: "ALK Sanet", sans-serif;
    header{
        width: 100%;
        .sticky{
            @extend %sticky;
            @extend %flex;
            @include d-flex (space-between,center);
            z-index: 20;
            img{
                height: 40px;
            }
            .navbar{
                ul{
                @extend %flex;
                @include d-flex (space-between,center);
                }
                li{
                    margin:$margin-right50;
                    a{
                        color: #283593;
                    }
                }
            }
        }
    }
    section{
        font-family: "ALK Sanet", sans-serif;
    }
}