@import "../basic/reset.scss";
@import "../modules/mixins.scss";
@import "../modules/veriables.scss";
@import "../modules/classes.scss";


body {
    font-family: "Raleway" !important;
        .news-boxes {
            @extend %flex;
            @include d-flex (space-around, center);

            .small-box-news{
                @extend %flex;
                flex-direction: column;
               
        }
    }
}



@media screen and (min-width:600px){
    .small-box-news{
        width:30%;
        .newss{
            img{
                width:100%;
            }
        }
    }
}