@import "../basic/reset.scss";
@import "../modules/mixins.scss";
@import "../modules/veriables.scss";
@import "../modules/classes.scss";

body{
    font-family: "Raleway" !important;
    .before-after{
        margin-bottom: $margin-bottom50;
        .before-after-h4{
            font-size: $font-size-bigger;
            font-weight: 600;
            text-align: center;
            margin-top: $margin-top50;
            margin-bottom: $margin-bottom50;
        }
        .compare{
            @extend %flex;
            @include d-flex (space-around,center);
            .before{
                h5{
                    font-size: $font-size-medium;
                    font-weight: 600;
                    margin: 5px 0;
                }
            }
            .after{
                h5{
                    font-size: $font-size-medium;
                    font-weight: 600;
                    margin: 5px 0;
                }
            }
        }
        &:after {
            display: block;
            content: "";
            height: 3px;
            width: 80%;
            background: #283593;
            opacity: 0.5;
            margin: 20px auto;

        }
    }
    .videos{
        @extend %flex;
        flex-wrap: wrap;
        @include d-flex (space-around,center);
    }
}


@media screen and (max-width:1040px){
    .compare{
        flex-direction: column;
        margin: 0 15px;
        img{
            width: 100%;
        }
    }
}