@import "../basic/reset.scss";
@import "../modules/mixins.scss";
@import "../modules/veriables.scss";
@import "../modules/classes.scss";


body {
    font-family: "Raleway" !important;
        .news-boxes {
            @extend %flex;
            @include d-flex (space-around, center);
            margin-top: $margin-top50;
            margin-bottom: $margin-bottom50;

            .small-box-news{
                @extend %flex;
                flex-direction: column;
                width: 30%;
               .newss{
                   h6{
                       font-size: $font-size-medium;
                       font-weight: 600;
                   }
                   img{
                       width:100%;
                   }
               }
        }
    }
}



// @media screen and (min-width:600px){
//     .small-box-news{
//         width:30%;
//         .newss{
//             img{
//                 width:100%;
//             }
//         }
//     }
// }
