@import "./veriables.scss";


%sticky{
    position: sticky;
    top:0;
    height: 60px;
    background-color: #283593;
    padding: 14px 1px;
    text-align: center;
    font-size: $font-size-mediumbig;
    font-weight: 600;
}

%flex{
display: flex;
}

%background{
    background-color:#F2F3F4;
    max-width: fit-content;
}


