@import "./veriables.scss";


%sticky{
    position: sticky;
    top:0;
    height: 60px;
    background-color: #283593;
    padding: 14px 1px;
    text-align: center;
    font-size: $font-size-mediumbig;
    font-weight: 600;
}
%burger{
    background-color: #283593;
    height: 60px;
}

%flex{
display: flex;
}

%background{
    background-color:#283593;
    max-width: fit-content;
    opacity: 0.8;
}

%burgerbackground{
    background-color:#283593;
    width: 100%;
    
}


