@import "./veriables.scss";


%sticky{
    position: sticky;
    top:0;
    height: 60px;
    background-color: #283593;
    padding: 14px 1px;
    text-align: center;
    font-size: $font-size-medium;
}

%flex{
display: flex;
}
