



@mixin d-flex ($horizontal,$vertical){
    justify-content: $horizontal;
    align-items: $vertical;
}

// @mixin google-font ($Montserrat){
//     @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
// }

@mixin google-font($family) {
    @import url("http://fonts.googleapis.com/css?family=#{$family}");
  }
@mixin p-absolute ($top,$left) {
    top:$top;
    left:$left;
}
