//font-size

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-mediumbig:20px;
$font-size-bigger: 28px;
$font-size-biggest: 40px;


// color



// margin
$margin-right20: 20px;
$margin-top50: 50px;
$margin-top20: 20px;
$margin-bottom20: 20px;
