//font-size

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-mediumbig:20px;
$font-size-bigger: 28px;
$font-size-biggest: 32px;



// margin
$margin-right20: 20px;
$margin-top200: 200px;
$margin-top50: 50px;
$margin-top5: 5px;
$margin-top20: 20px;
$margin-bottom20: 20px;
$margin-bottom5: 5px;
$margin-left30: 30px;
$margin-left10: 10px;
$margin-left0: 0;


